@font-face {
    font-family: Prompt;
    src: url(Prompt-Light.ttf);
}

body {
    font-family: "Prompt", sans-serif;
    font-weight: bold;
}

label {
    margin-right: 5px;
}

button {
    margin-top: 20px;
}
