@font-face {
    font-family: Prompt;
    src: url(Prompt-Light.ttf);
}

body {
    font-family: "Prompt", sans-serif;
}

table {
    border-spacing: 10px;
}

td {
    background-color: black;
    border-radius: 5px;
    padding: 20px;
}

img {
    height: 170px;
    width: 300px;
}

p {
    color: white;
    font-size: 24px;
    margin: 0px;
}
