@font-face {
    font-family: Prompt;
    src: url(Prompt-Light.ttf);
}

body {
    font-family: "Prompt", sans-serif;
}

img {
    height: 180px;
    width: 300px;
}

p {
    color: white;
    margin: 1px;
    font-size: 24px;
}

.line {
    display: flex;
}

.box {
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}
