<!doctype html>
<html lang="en">
<%- include("head") %>
<body>
    <div>
        <h1>Your Score:</h1>
        <h3>You got <a class="score"><%= data[0] %></a> out of <%= data[1] %> correct</h3>
        <div class="button">
            <a href="/" class="btn">Return to Questions</a>
        </div>
    </div>
</body>
</html>
