@font-face {
    font-family: Prompt;
    src: url(Prompt-Light.ttf);
}

body {
    font-family: "Prompt", sans-serif;
    display: flex;
    justify-content: center;
}

label {
    font-weight: bold;
    font-size: 18px;
}

input {
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

button {
    border: none;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 100%;
}

h1 {
    font-size: 28px;
    text-align: center;
}

.form {
    border: 10px solid lightgrey;
    border-radius: 5px;
    padding: 30px;
    width: 400px;
}

.info {
    margin-bottom: 30px;
}
