<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab10.ex</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <% data.forEach((item) => { %>
        <%=item.ID%> <%=item.Brand%> <%=item.Model%><br>
    <% }); %>
</body>
</html>
