/* ex2 ex3 */
/* p {
    background-color: red;
    border-radius: 20px;
    border-top: 1px solid black;
    padding: 10px;
} */
 /* ex4 */
/* img {
    border-radius: 25px;
    border: 10px solid lightsalmon;
} */
